<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Cátalogo Online{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
  </head>
  <body>
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
  </body>
</html>
