
{% extends 'base.html.twig' %}

{% block title %}Lista de Productos{% endblock %}

{% block body %}
    <h1>Lista de Productos</h1>
    <ul>
        {# {% for producto in productos %}
            <li>{{ producto.name }}</li>
        {% endfor %} #}
    </ul>
{% endblock %}
